  <div class="field">
    <%= f.label :job_title %><br />
    <%= f.text_field :job_title %>
  </div>

  <div class="field">
    <%= f.label :valid_from %><br />
    <%= f.date_select(:valid_from, :order => [:day, :month, :year]) %>
  </div>

  <div class="field">
    <%= f.label :job_grade %><br />
    <%= f.text_field :job_grade %>
  </div>



