  <h1>Listing positions</h1><%= render 'positions/dropdown_offices' %><br />

<%= link_to 'New Position', new_position_path %>
<hr />
<%= search_form_for @search do |f| %>
<div>
  <table class="search_table">
    <tr>
      <td style="width: 100pt"><%= f.text_field :job_title_cont, :class => 'auto_search', :placeholder => 'Job title', data: { autocomplete_source: Position.order(:job_title).map(&:job_title)} %></td>
      <td><%= f.text_field :name_cont, :class => 'auto_search_name', :placeholder => 'Name', data: { autocomplete_source: Position.order(:name).map(&:name)} %></td>
      <td><%= f.select(:department_cont, Position.order(:department).map(&:department), :prompt => "department") %></td>
      <td><div class="action"><%= link_to_submit image_tag('search.jpg') %></div></td>
    </tr>
  </table>
</div>

<% end %>

<hr />

<div id="flash">

<table class="table table-hover">
  <tr>
    <th><%= sort_link @search, :job_title, "Job title" %></th>
    <th><%= sort_link @search, :department, "Department" %></th>
    <th><%= sort_link @search, :valid_from, "Valid from" %></th>
    <th>Status</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>
    <% @positions.each do |position| %>
  <tr>
    <td><%= link_to position.job_title, jobdescription_position_path(position) %></td>
    <td><%= position.department %></td>
    <td><%= position.valid_from.strftime("%d %B %Y") unless position.valid_from.nil? %></td>
    <td><%= position.status %></td>
    <td><%= link_to 'Edit', edit_position_path(position) %></td>
    <td><%= link_to 'Destroy', position, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
    <% end %>
</table>

</div>
