<body class="">
  <div id="competenciescarousel" class="carousel slide" data-interval="false">
    <div class="carousel-inner">
      <div class="span1">
        <a class="carousel-control left" id="carouselleft" href="#competenciescarousel" data-slide="prev">&lsaquo;</a>
        <br />
      </div>
        <div class="span10">
          <div class="active item">
            <%= link_to 'Edit', editcompetencies_position_path(@position), :class => 'btn btn-danger', :id => 'edit_button' %>
            <%= link_to image_tag('homepage_button.png'), office_path, :class => 'homepage_button' %>
            <%= render "competencies_competencies" %>
          </div>
          <div class="item">
            <%= render "competencies_nav" %>
          </div>
          <div class="item">
            <%= render "positions/wikis/competencies_wiki" %>
          </div>
        </div>
        <div class="span1">
        <a class="carousel-control right" id="carouselright" href="#competenciescarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
  </div>

</body>
