<%= form_for(@position) do |f| %>
  <% if @position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% @position.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :date_birth %><br />
    <%= f.date_select(:date_birth, :order => [:day, :month, :year]) %>
  </div>

  <div class="field">
    <%= f.label :experience, "Previous work experience" %><br />
    <%= f.text_area :experience %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
