<%= form_for(@position) do |f| %>
  <% if @position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% @position.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<ul class="nav nav-tabs" id="myTab">
  <li><a href="#general" data-toggle="tab">General</a></li>
  <li class="active"><a href="#jd" data-toggle="tab">Job Description</a></li>
  <li><a href="#profile" data-toggle="tab">Personal Profile</a></li>
  <li><a href="#competencies" data-toggle="tab">Competencies</a></li>
  <li><a href="#helper" data-toggle="tab">Helper</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane" id="general">
    <%= render 'form_general', :f => f %>
  </div>
  <div class="tab-pane active" id="jd">
    <%= render 'form_job_description', :f => f %>
  </div>
  <div class="tab-pane" id="profile">
    <%= render 'form_personal_profile', :f => f %>
  </div>
  <div class="tab-pane" id="competencies">
    <%= f.fields_for :competencies do |builder| %>
    <%= render 'form_competencies', :f => f, :builder => builder %>
    <% end %>
    <%= link_to_add_fields "Add Competency", f, :competencies %>
  </div>
  <div class="tab-pane" id="helper">...</div>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br />
<%= link_to 'Back', jobdescription_position_path %> |

