<body class="redie">
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @position.name %>
</p>

<p>
  <b>HR Picture:</b>
  <%= link_to image_tag(@position.picture + ".png", :border=>4) %>
</p>


<p>
  <b>Date of Birth:</b>
  <%= @position.date_birth %>
</p>


<p>
  <b>Previous and current work experience:</b>
  <%= simple_format @position.experience %>
</p>



<br />
<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', @position %>

</body>
