<body>

  <div id="personalprofilecarousel" class="carousel slide" data-interval="false">
    <div class="carousel-inner">
      <div class="span1">
        <a class="carousel-control left" id="carouselleft" href="#personalprofilecarousel" data-slide="prev">&lsaquo;</a>
        <br />
      </div>
        <div class="span10">
          <div class="active item">
          <% unless manage_edits == false %>
            <%= link_to 'Edit', editpersonalprofile_position_path(@position), :class => "btn btn-danger", :id => "edit_button" %>
          <% end %>
            <%= link_to image_tag('homepage_button.png'), office_path, :class => 'homepage_button' %>
            <%= render "personal_profile" %>
          </div>
          <div class="item">
            <%= render "personal_profile_nav" %>
          </div>
          <div class="item">
            <%= render "wikis/personal_profile" %>
          </div>
        </div>
        <div class="span1">
        <a class="carousel-control right" id="carouselright" href="#personalprofilecarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
  </div>

</body>
