<p id="notice"><%= notice %></p>
<p class="logoindex"><%= link_to image_tag("bluerobinlogo.png", :border=>4) %></p>
<center>
  <h1>
    <%= @position.job_title %>
  </h1>
    <%= link_to '(Edit)', edit_position_path(@position) %> <hr />
</center>

<ul class="thumbnails">
  <li class="span4">
   <%= link_to image_tag("jobdescriptionthumbnail.jpg"), {:action => 'jobdescription'}, :class => 'thumbnail' %>
  </li>
  <li class="span4">
    <%= link_to image_tag("http://placehold.it/300x200"), {:action => 'personalprofile'}, :class => 'thumbnail' %>
  </li>
  <li class="span4">
    <%= link_to image_tag("http://placehold.it/300x200"), {:action => 'competencies'}, :class => 'thumbnail' %>
  </li>
</ul>

<hr />
    <%= link_to 'Back', positions_path %>
