<legend>
<div class="comment" data-time="<%= comment.created_at.to_i %>">
  <p><strong><%= comment.idea_commenter %></strong>
  <em>on <%= comment.created_at.strftime('%d %b, %Y at %I:%M %p') %></p></em>
  <%= simple_format comment.idea_comment %>
</div>
<p>
    <%= link_to 'Delete announcement', [comment.post, comment],
                 :confirm => 'Are you sure?',
                 :method => :delete %>
  </p>
</legend>
