<%= form_for(@wiki) do |f| %>
  <% if @wiki.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wiki.errors.count, "error") %> prohibited this wiki from being saved:</h2>

      <ul>
      <% @wiki.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :dictionary_wiki, :style => "width: 700pt;" %>
  </div>


  <div class="actions">
    <%= f.submit "Update", :class => "btn btn-success", :id => "submit_button", :name => "update_dictionary_button" %>
  </div>
<% end %>
