<%= link_to 'Edit', edit_wiki_path(@wiki), :class => "btn btn-danger", :id => "edit_button" %>

<%= link_to image_tag('homepage_button.png'), office_path , :class => 'homepage_button' %>

<h1>Listing wikis</h1>

<div class="accordion" id="accordion2">

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#job_description_wiki">
        Job description
      </a>
    </div>
    <div id="job_description_wiki" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= simple_format @wiki.job_description_wiki %>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#competencies_wiki">
        Competency profile
      </a>
    </div>
    <div id="competencies_wiki" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= simple_format @wiki.competencies_wiki %>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#personal_profile_wiki">
        Personal profile
      </a>
    </div>
    <div id="personal_profile_wiki" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= simple_format @wiki.personal_profile_wiki %>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#dictionary_wiki">
        Dictionary
      </a>
    </div>
    <div id="dictionary_wiki" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= simple_format @wiki.dictionary_wiki %>
      </div>
    </div>
  </div>

</div>
