<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :idea_title, "Project name:" %><br />
    <%= f.text_field :idea_title %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :tag, "Greennet (link to project):" %><br />
    <%= f.text_field :tag %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :idea_name, "Project leader:" %><br />
    <%= f.text_field :idea_name %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :idea_body, "Project description" %><br />
    <%= f.text_area :idea_body, :style => "width: 700pt" %>
  </div>
  <div class="actions">
    <%= f.submit "Update", :class => "btn btn-success", :id => "update_button", :name => "wiki_button" %>
  </div>
<% end %>
